.DS_Store
.idea
_site/
coda_backups/*
.sass-cache
Gemfile.lock
tex/hydeMD/output
texput.log
~$*.docx
tex/jekyll/output
tex/jekyll/anhaenge
texify.rb
texifyer.rb
studiengangsdokumentlatex.html
_config.yml.safe
_config_dev.yml
_archiv_local
.jekyll-cache/
.vscode/
master-domain-model.ldb
