
//
// VARIABLES
//

// Colors
$th-rot: #C90C0F;
$th-orange: #eb5a0d;
$th-blau: #0076C0;
$th-gruen: #00B050;
$th-purple: #BB2585;
$th-grau: #7F7F7F;
$mi-black: #231f20;


$family-primary: "PT Sans";
$primary:  $th-rot;
$info:     $th-purple;
$success:  $th-gruen;

$bfs: 1rem;
$size-normal: $bfs;